<div class="container" ng-controller="ModalsController as modals" ng-init="init(1)">
    <modal-windows></modal-windows>
    <h2>Методический отдел института</h2>
    <uib-tabset active="active">
        <uib-tab ng-repeat="tab in tabs" index="$index" ng-click="ctrl.switchTab($index)" heading="{{tab.name}}">
            <h3 class="bmargin20">{{tabs.name}}</h3>
            <div class="content">
                <div class="col-sm-8" >
                    <div ng-include src="'app/resources/templates/code-name.table.html'"></div>
                </div>
                <div class="col-sm-4">
                    <h4>Отчеты</h4>
                    <ul>
                        <li ng-repeat="rep in tab.reports"><a href="{{rep.link}}">{{rep.header}}</a></li>
                    </ul>
                </div>
            </div>
        </uib-tab>
    </uib-tabset>
</div>
