<script type="text/ng-template" id="stackedModal.html">
    <div class="modal-body" >
        {{message}}
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modals.ok()" >OK</button>
    </div>
</script>
<script type="text/ng-template" id="additionModal.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Добавить...</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <form>
            <div class="form-group" ng-repeat="i in Utils.range(table.headers.length)">
                <label for="{{table.keys[i]}}">{{table.headers[i]}}</label>
                <input type="text" class="form-control" ng-model="item[table.keys[i]]"  id="{{table.keys[i]}}">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="modals.ok()" >OK</button>
        <button class="btn btn-warning" type="button" ng-click="modals.cancel()" >Cancel</button>
    </div>
</script>
<script type="text/ng-template" id="editModal.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Изменить...</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form>
                <div class="form-group" ng-repeat="i in Utils.range(table.headers.length)">
                    <label for="{{table.keys[i]}}">{{table.headers[i]}}</label>
                    <input type="text" class="form-control" ng-model="item[table.keys[i]]"  id="{{table.keys[i]}}">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="modals.ok()" >OK</button>
            <button class="btn btn-warning" type="button" ng-click="modals.cancel()" >Cancel</button>
        </div>
</script>